* {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

body {
    background-color: #d36d01;
}

.container {
    position: relative;
   
}

.her {
    position: fixed;
    left: 10%;
    bottom: 0;
    animation: light 0.2s ease-in;

}

.light {
    left: 45%;
    bottom: 272px;
    position: fixed;
    animation: light 0.2s ease-in;
    animation-iteration-count: infinite;
}

@keyframes light {
    from {
        transform: translateX(0.9%)
        
         
    }

    to {
        transform: translateX(1.5%)
       
    }
}

.smoke {
    position: fixed;
    left: 50.5%;
    animation: smoke 4s ease-in;
    animation-fill-mode: forwards; 
    animation-delay: 4s;
   
}

@keyframes smoke {
    from {
        transform: translateY(0.9%)
        
         
    }

    to {
        transform: translateY(-100vh)
       
    }
}

}